<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div align="right">
        <a href="#" wicket:id="clean">&times;</a>
    </div>
    <div id="feedback_container" style="max-height:100px; overflow-y:auto; margin-bottom:5px;">
        <ul id="messages" wicket:id="feedbackul" class="feedbackPanel">
            <li wicket:id="messages" class="errorlevel">
                <span wicket:id="message" class="errorlevel">A message</span>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        (function(){
            var feedback_container = document.getElementById("feedback_container");
            feedback_container.scrollTop = feedback_container.scrollHeight;
        })();
    </script>
</wicket:panel>
</body>
</html>