<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <div wicket:id="dialog" style="display: none" wicket:message="title:title">
        <div wicket:id="messages"></div>
        <div wicket:id="header" style="margin-bottom: 20px">
            <table>
                <tr>
                    <td>
                        <span  wicket:id="puAccountNumber"></span>
                    </td>
                    <td>
                        <span wicket:id="lastName"></span>
                        <span wicket:id="firstName"></span>
                        <span wicket:id="middleName"></span>,
                    </td>
                    <td>
                        <span wicket:id="address"></span>
                    </td>
                </tr>
            </table>
        </div>

        <form action="#" wicket:id="form">
            <div wicket:id="accordion">
                <h3>
                    <a href="#lookupByAddress">
                        <wicket:message key="lookup_by_address"/>
                    </a>
                </h3>
                <div id="lookupByAddress">
                    <table class="tbForm" wicket:id="address_container">
                        <tr>
                            <td>
                                <span wicket:id="addressSearchComponent"></span>
                            </td>
                            <td>
                                <input wicket:id="apartment" type="text" size="5" wicket:message="placeholder:apartment_label"/>
                            </td>
                            <td>
                                <input type="button" class="btnSmall" wicket:id="lookupByAddress" wicket:message="value:lookup"/>
                            </td>
                        </tr>
                    </table>
                </div>


                <h3><wicket:message key="lookup_by_account"/></h3>
                <div id="lookupByAccount">
                    <table class="tbForm" wicket:id="account_container">
                        <tr>
                            <th>
                                <span wicket:id="accountNumberLabel" style="cursor: pointer"></span>:
                            </th>
                            <td>
                                <input type="text" wicket:id="accountNumber"/>
                            </td>
                            <td>
                                <input type="button" class="btnSmall" wicket:id="lookupByAccount" wicket:message="value:lookup"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <h3><wicket:message key="lookup_by_fio"/></h3>
                <div id="lookupByFio">
                    <table class="tbForm" wicket:id="fio_container">
                        <tr>
                            <th>
                                <span wicket:id="lastNameLabel" style="cursor: pointer"></span>:
                            </th>
                            <td>
                                <input type="text" wicket:id="lastName"/>
                            </td>
                            <th>
                                <span wicket:id="firstNameLabel" style="cursor: pointer"></span>:
                            </th>
                            <td>
                                <input type="text" wicket:id="firstName"/>
                            </td>
                            <th>
                                <span wicket:id="middleNameLabel" style="cursor: pointer"></span>:
                            </th>
                            <td>
                                <input type="text" wicket:id="middleName"/>
                            </td>

                            <td>
                                <input type="button" class="btnSmall" wicket:id="lookupByFio" wicket:message="value:lookup"/>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span wicket:id="passportLabel" style="cursor: pointer"></span>:
                            </th>
                            <td>
                                <input type="text" wicket:id="passport"/>
                            </td>
                            <th>
                                <span wicket:id="innLabel" style="cursor: pointer"></span>:
                            </th>
                            <td>
                                <input type="text" wicket:id="inn"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div wicket:id="accountNumberPickerPanel"></div>

            <div style="margin-top: 17px;">
                <input type="button" wicket:message="value:save" wicket:id="save" class="btnMiddle"/>
                <input type="button" wicket:message="value:cancel" wicket:id="cancel" class="btnMiddle"/>
            </div>
        </form>
    </div>
</wicket:panel>
</body>
</html>
