<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="lookupDialog" wicket:message="title:lookup_dialog_title" style="display: none;">
        <div wicket:id="content">
            <form action="#" wicket:id="filterForm" class="form-template form-inline">
                <table class="table-filter">
                    <thead>
                    <tr>
                        <th><wicket:message key="name"/></th>
                        <th><wicket:message key="code"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input id="name" type="text" wicket:id="nameFilter"/></td>
                        <td><input id="code" type="text" wicket:id="codeFilter"/></td>
                        <td><button wicket:id="find" class="btn-filter"><wicket:message key="find"/></button></td>
                    </tr>
                    </thead>

                    <tbody wicket:id="radioGroup">
                    <tr wicket:id="data">
                        <td>
                            <input type="radio" wicket:id="radio"/>
                        </td>
                        <td>
                            <span wicket:id="name"></span>
                        </td>
                        <td>
                            <span wicket:id="code"></span>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <div wicket:id="navigator"></div>

            <div style="margin-top: 10px">
                <button wicket:id="select" class="btn btn-primary"><wicket:message key="select"/></button>
                <button wicket:id="cancel" class="btn btn-primary"><wicket:message key="cancel"/></button>
            </div>
        </div>
    </div>
</wicket:panel>