<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="lookupDialog" wicket:message="title:lookup_dialog_title" style="display: none;">
        <div wicket:id="content">
            <form action="#" wicket:id="filterForm" class="organization_picker_form">
                <table class="tbColor" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>
                            <wicket:message key="name"/>
                        </th>
                        <th>
                            <wicket:message key="organization_code"/>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="filter-td"></td>
                        <td class="filter-td">
                            <input type="text" wicket:id="nameFilter">
                        </td>
                        <td class="filter-td">
                            <input type="text" wicket:id="codeFilter">
                        </td>
                        <td class="filter-td">
                            <div style="width: 152px;">
                                <input wicket:id="find" type="button" wicket:message="value:find"
                                       class="btnMiddle organization-picker-find"/>
                            </div>
                        </td>
                    </tr>
                    </thead>
                    <tbody wicket:id="radioGroup">
                    <tr wicket:id="data">
                        <td>
                            <input type="radio" wicket:id="radio"/>
                        </td>
                        <td>
                            <div wicket:id="name"
                                 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 400px;">
                            </div>
                        </td>
                        <td>
                            <div wicket:id="code"></div>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <div wicket:id="navigator"></div>
            <div style="margin-top: 7px;">
                <input type="button" wicket:id="select" wicket:message="value:select" class="btnMiddle"/>
                <input type="button" wicket:id="cancel" wicket:message="value:cancel" class="btnMiddle"/>
            </div>
        </div>
    </div>

</wicket:panel>