<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div wicket:id="searchContainer">
                <table class="wiquery_search_component_table">
                    <tr>
                        <td wicket:id="filters">
                            <div wicket:id="filter"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </wicket:panel>
    </body>
</html>
