<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div>
                <table class="tbForm">
                    <tr>
                        <th>
                            <wicket:message key="permissions"/>
                        </th>
                        <td>
                            <select wicket:id="subjects" multiple="multiple" class="domain_object_permission_select">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </wicket:panel>
    </body>
</html>
