<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div wicket:id="dialog" style="display: none" wicket:message="title:title">
                <table cellpadding="0" cellspacing="0" border="0" >
                    <tr>
                        <td align="center">
                            <h3><wicket:message key="propogate"/></h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div>
                                <input type="button" wicket:message="value:yes" wicket:id="yes" class="btnMiddle"/>
                                <input type="button" wicket:message="value:no" wicket:id="no" class="btnMiddle"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </wicket:panel>
    </body>
</html>
