<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <div wicket:id="dialog" style="display: none" wicket:message="title:title">
        <div wicket:id="container">
            <div wicket:id="messages"></div>

            <table class="tbForm">
                <tr>
                    <th>
                        <wicket:message key="name"/>:
                    </th>
                    <td>
                        <span wicket:id="name"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <wicket:message key="address"/>:
                    </th>
                    <td>
                        <span wicket:id="address"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <wicket:message key="correct_address"/>:
                    </th>
                    <td>
                        <span wicket:id="searchComponent"></span>
                        <select wicket:id="streetTypeSelect">
                            <option></option>
                        </select>
                    </td>
                </tr>
            </table>
            <div>
                <input type="button" wicket:message="value:save" wicket:id="save" class="btnMiddle"/>
                <input type="button" wicket:message="value:cancel" wicket:id="cancel" class="btnMiddle"/>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
