<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="container" class="row">
        <div class="col m-auto">
            <div wicket:id="component"></div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm">
                        <span wicket:id="label" style="white-space: nowrap"></span>
                    </button>
                </div>
                <div class="col">
                    <ul wicket:id="navigator"></ul>
                </div>
                <div class="col">
                    <select wicket:id="size" class="form-control form-control-sm"></select>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
