.filter-td{
    vertical-align: middle !important;
}

.filter-td .form-group{
    margin: 0;
    padding: 0;
}

.filter-td .form-group .form-control {
    margin-bottom: 0;
    height: 20px;
}

.filter-td-id{
    width: 10%;
}