::-webkit-input-placeholder {
    font-size: 14px !important;
}

.form-group .form-control {
    margin-bottom: 0;
    font-size: 14px;
}

.form-group{
    margin: 0;
    padding: 0;
}

.filter-td{
    vertical-align: middle !important;
}

.filter-td .form-group .form-control {
    height: 20px;
}

.filter-td-id{
    width: 56px;
}

.filter-td-edit{
    width: 28px;
}