<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div>
                <table>
                    <tr wicket:id="corrections">
                        <td>
                            <div wicket:id="heatmeterItemCorrectionPanel"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </wicket:panel>
    </body>
</html>
