<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div wicket:id="dialog" style="display: none" wicket:message="title:heatmeterHistoryCorrectionDialogTitle">
                <h3 style="margin-bottom: 20px;">
                    <span wicket:id="caption"/>
                </h3>
                <div wicket:id="heatmeterHistoryCorrectionPanel" style="max-height: 400px;"></div>
            </div>
        </wicket:panel>
    </body>
</html>
