<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div>
                <span wicket:id="serviceLabel"></span>
                <span style="margin-left: 10px;">
                    <a wicket:id="choose" class="service_picker_choose_link">
                        <wicket:message key="choose"/>
                    </a>
                </span>
            </div>

            <div wicket:id="lookupDialog"/>
        </wicket:panel>
    </body>
</html>
