<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeHandlers>
        <typeHandler handler="org.complitex.common.mybatis.FixedIdBaseTypeHandler"
                     javaType="org.complitex.address.entity.AddressEntity"/>
        <typeHandler handler="org.complitex.common.mybatis.FixedIdBaseTypeHandler"
                     javaType="org.complitex.address.entity.SyncEntity"/>
        <typeHandler handler="org.complitex.common.mybatis.FixedIdBaseTypeHandler"
                     javaType="org.complitex.address.entity.AddressSyncStatus"/>

        <typeHandler handler="org.complitex.common.mybatis.FixedIdBaseTypeHandler"
                     javaType="org.complitex.osznconnection.file.entity.RequestStatus"/>
        <typeHandler handler="org.complitex.common.mybatis.FixedIdBaseTypeHandler"
                     javaType="org.complitex.osznconnection.file.entity.RequestFileStatus"/>
        <typeHandler handler="org.complitex.common.mybatis.FixedIdBaseTypeHandler"
                     javaType="org.complitex.osznconnection.file.entity.RequestFileType"/>
        <typeHandler handler="org.complitex.common.mybatis.FixedIdBaseTypeHandler"
                     javaType="org.complitex.osznconnection.file.entity.RequestWarningStatus"/>
    </typeHandlers>

    <!--<plugins>-->
        <!--&lt;!&ndash;cursor plugin&ndash;&gt;-->
        <!--&lt;!&ndash;<plugin interceptor="org.complitex.common.mybatis.CursorResultSetHandlerPlugin"/>&ndash;&gt;-->

        <!--&lt;!&ndash;cache plugin&ndash;&gt;-->
        <!--&lt;!&ndash;<plugin interceptor="org.complitex.common.mybatis.plugin.EhcacheExecutorPlugin">-->
            <!--<property name="excludeNamespaces" value="-->
            <!--org.complitex.common.entity.StringLocale,-->
            <!--org.complitex.common.entity.Entity"/>-->
        <!--</plugin>&ndash;&gt;-->
    <!--</plugins>-->

    <environments default="local">
        <environment id="local">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/osznconnectionResource"/>
            </dataSource>
        </environment>

        <environment id="remote">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="${remoteDataSource}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/complitex/common/strategy/SequenceBean.xml"/>
        <mapper resource="org/complitex/common/strategy/DomainObjectStrategy.xml"/>
        <mapper resource="org/complitex/common/strategy/EntityBean.xml"/>
        <mapper resource="org/complitex/common/strategy/PermissionBean.xml"/>

        <mapper resource="org/complitex/common/service/LogBean.xml"/>
        <mapper resource="org/complitex/common/service/SessionBean.xml"/>
        <mapper resource="org/complitex/common/service/PreferenceBean.xml"/>
        <mapper resource="org/complitex/common/service/NameBean.xml"/>
        <mapper resource="org/complitex/common/service/ConfigBean.xml"/>

        <mapper resource="org/complitex/address/strategy/building/BuildingStrategy.xml"/>
        <mapper resource="org/complitex/address/strategy/building_address/BuildingAddressStrategy.xml"/>
        <mapper resource="org/complitex/address/strategy/street/StreetStrategy.xml"/>
        <mapper resource="org/complitex/address/strategy/city/CityStrategy.xml"/>
        <mapper resource="org/complitex/address/strategy/district/DistrictStrategy.xml"/>

        <mapper resource="org/complitex/correction/service/CorrectionBean.xml"/>
        <mapper resource="org/complitex/correction/service/AddressCorrectionBean.xml"/>
        <mapper resource="org/complitex/correction/service/OrganizationCorrectionBean.xml"/>
        <mapper resource="org/complitex/correction/service/ServiceCorrectionBean.xml"/>


        <mapper resource="org/complitex/admin/service/UserBean.xml"/>
        <mapper resource="org/complitex/admin/service/UserProfileBean.xml"/>
        <mapper resource="org/complitex/logging/service/LogListBean.xml"/>

        <mapper resource="org/complitex/organization/strategy/OrganizationStrategy.xml"/>
        <mapper resource="org/complitex/organization/service/OrganizationImportBean.xml"/>

        <!--<mapper resource="org/complitex/osznconnection/organization/strategy/OsznOrganization.xml"/>-->

        <mapper resource="org/complitex/osznconnection/file/service/AbstractRequestBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/RequestFileBean.xml"/>

        <mapper resource="org/complitex/osznconnection/file/service/subsidy/RequestFileGroupBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/subsidy/PaymentBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/subsidy/ActualPaymentBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/subsidy/SubsidyBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/subsidy/BenefitBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/subsidy/SubsidyTarifBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/subsidy/SubsidyMasterDataBean.xml"/>

        <mapper resource="org/complitex/osznconnection/file/service/privilege/AbstractPrivilegeBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/PrivilegeFileGroupBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/DwellingCharacteristicsBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/FacilityServiceTypeBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/FacilityForm2Bean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/FacilityReferenceBookBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/OwnershipCorrectionBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/PrivilegeCorrectionBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/privilege/PrivilegeProlongationBean.xml"/>

        <mapper resource="org/complitex/osznconnection/file/service/PersonAccountBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/RequestFileHistoryBean.xml"/>


        <mapper resource="org/complitex/osznconnection/file/service/status/details/StatusDetailBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/warning/RequestWarningBean.xml"/>

        <mapper resource="org/complitex/osznconnection/file/service/file_description/RequestFileDescriptionBean.xml"/>

        <mapper resource="org/complitex/address/service/AddressSyncBean.xml"/>

        <!--remote mappers-->
        <mapper resource="org/complitex/osznconnection/file/service_provider/ServiceProviderAdapter.xml"/>
        <mapper resource="org/complitex/address/service/AddressSyncAdapter.xml"/>
    </mappers>
</configuration>
