<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div wicket:id="complexAttributesBefore"></div>

            <table class="tbForm">
                <tr wicket:id="objectId">
                    <th nowrap="nowrap">
                        <wicket:message key="objectId"/> :
                    </th>
                    <td nowrap="nowrap">
                        <span wicket:id="label"></span>
                    </td>
                </tr>

                <tr wicket:id="simpleAttributes">
                    <th nowrap="nowrap">
                        <wicket:container wicket:id="label"/><wicket:container wicket:id="required"><b class="blue">*</b></wicket:container>:
                    </th>
                    <td nowrap="nowrap">
                        <div wicket:id="input"></div>
                    </td>
                </tr>

                <tr wicket:id="parentContainer">
                    <th nowrap="nowrap">
                        <wicket:message key="parent"/><b class="blue">*</b>:
                    </th>
                    <td nowrap="nowrap">
                        <span wicket:id="parentSearch"></span>
                    </td>
                </tr>
            </table>
            
            <div wicket:id="complexAttributesAfter"></div>
        </wicket:panel>
    </body>
</html>
