<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="complexAttributesBefore"></div>

    <div wicket:id="simpleAttributes" class="form-group">
        <label class="col-sm-2 control-label">
            <wicket:container wicket:id="label"/><wicket:container wicket:id="required"><b class="blue">*</b></wicket:container>
        </label>
        <div wicket:id="input" class="col-sm-4"></div>
    </div>

    <div wicket:id="parentContainer">
        <label class="col-sm-2 control-label">
            <wicket:message key="parent"/><b class="blue">*</b>
        </label>
        <div class="col-sm-4">
            <span wicket:id="parentSearch"></span>
        </div>
    </div>

    <div wicket:id="complexAttributesAfter"></div>
</wicket:panel>