<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <table class="tbForm">
                <tr>
                    <th><wicket:message key="from"/><b class="blue">*</b>:</th>
                    <td><select wicket:id="from" style="width: 100%"></select></td>
                </tr>
                <tr>
                    <th><wicket:message key="to"/><b class="blue">*</b>:</th>
                    <td><select wicket:id="to" style="width: 100%"></select></td>
                </tr>
            </table>
        </wicket:panel>
    </body>
</html>
