<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="container">
        <table>
            <tr wicket:id="listView">
                <td><span wicket:id="name"></span></td>
                <td><a wicket:id="select"><wicket:message key="select"/></a></td>
                <td><a wicket:id="delete"><wicket:message key="delete"/></a></td>
            </tr>
        </table>
        <a wicket:id="add"><wicket:message key="add"/></a>
    </div>
    <div wicket:id="domainSelectDialog"></div>
</wicket:panel>
