<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="ru.complitex.common.mybatis.FixedIdBaseTypeHandler" javaType="ru.complitex.common.entity.Status"/>
        <typeHandler handler="ru.complitex.common.mybatis.FixedIdBaseTypeHandler" javaType="ru.complitex.common.entity.ValueType"/>

        <typeHandler handler="ru.complitex.common.mybatis.FixedIdBaseTypeHandler" javaType="ru.complitex.address.entity.AddressEntity"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="ru.complitex.common.mybatis.plugin.EhcacheExecutorPlugin">
            <property name="excludeNamespaces" value="
            ru.complitex.common.entity.StringLocale,
            ru.complitex.common.entity.Entity,
            ru.complitex.eirc.service_provider_account.service.OwnerExemptionBean"/>
        </plugin>
    </plugins>

    <environments default="local">
        <environment id="local">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/eircResource"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="ru/complitex/common/strategy/SequenceBean.xml"/>
        <mapper resource="ru/complitex/common/strategy/DomainObjectStrategy.xml"/>
        <mapper resource="ru/complitex/common/strategy/EntityBean.xml"/>
        <mapper resource="ru/complitex/common/strategy/PermissionBean.xml"/>

        <mapper resource="ru/complitex/common/service/LogBean.xml"/>
        <mapper resource="ru/complitex/common/service/SessionBean.xml"/>
        <mapper resource="ru/complitex/common/service/PreferenceBean.xml"/>
        <mapper resource="ru/complitex/common/service/NameBean.xml"/>
        <mapper resource="ru/complitex/common/service/ConfigBean.xml"/>

        <mapper resource="ru/complitex/address/strategy/building/BuildingStrategy.xml"/>
        <mapper resource="ru/complitex/address/strategy/building_address/BuildingAddressStrategy.xml"/>
        <mapper resource="ru/complitex/address/strategy/street/StreetStrategy.xml"/>
        <mapper resource="ru/complitex/address/strategy/city/CityStrategy.xml"/>
        <mapper resource="ru/complitex/address/strategy/district/DistrictStrategy.xml"/>
        <mapper resource="ru/complitex/address/strategy/apartment/ApartmentStrategy.xml"/>
        <mapper resource="ru/complitex/address/strategy/room/RoomStrategy.xml"/>

        <mapper resource="ru/complitex/admin/service/UserBean.xml"/>
        <mapper resource="ru/complitex/admin/service/UserProfileBean.xml"/>
        <mapper resource="ru/complitex/logging/service/LogListBean.xml"/>

        <mapper resource="ru/complitex/organization/strategy/OrganizationStrategy.xml"/>
        <mapper resource="ru/complitex/organization/service/OrganizationImportBean.xml"/>

        <mapper resource="ru/complitex/correction/service/CorrectionBean.xml"/>
        <mapper resource="ru/complitex/eirc/service/correction/service/ServiceCorrectionBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/ServiceProviderAccountCorrectionBean.xml"/>

        <mapper resource="ru/complitex/eirc/dictionary/service/PersonBean.xml"/>
        <mapper resource="ru/complitex/eirc/dictionary/strategy/ModuleInstanceStrategy.xml"/>
        <mapper resource="ru/complitex/eirc/eirc_account/service/EircAccountBean.xml"/>
        <mapper resource="ru/complitex/eirc/service/service/ServiceBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/ServiceProviderAccountBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/ExemptionBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/OwnerExemptionBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/FinancialAttributeBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/SaldoOutBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/ChargeBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/PaymentAttributeBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/CashPaymentBean.xml"/>
        <mapper resource="ru/complitex/eirc/service_provider_account/service/CashlessPaymentBean.xml"/>
        <mapper resource="ru/complitex/eirc/registry/service/ContainerBean.xml"/>
        <mapper resource="ru/complitex/eirc/registry/service/RegistryRecordBean.xml"/>
        <mapper resource="ru/complitex/eirc/registry/service/RegistryBean.xml"/>
        <mapper resource="ru/complitex/eirc/registry/service/handle/changing/ObjectChangingBean.xml"/>
    </mappers>
</configuration>
