<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<body>
<wicket:panel>
    <div wicket:id="container">
        <div wicket:id="list">
            <div wicket:id="building"></div>
            <select wicket:id="organization"></select>
            <a href="#" wicket:id="remove"><wicket:message key="remove"/></a>
        </div>
    </div>
    <div>
        <a href="#" wicket:id="add"><wicket:message key="add"/></a>
    </div>
</wicket:panel>
</body>
</html>

