<config>
    <!--property name="org.glassfish.ejb.embedded.glassfish.installation.root"
              value="C:\\java\\ru.complitex\\complitex\\complitex-common\\src\\test\\glassfish">
    </property-->
    <property name="org.glassfish.ejb.embedded.glassfish.installation.root"
              value="../complitex/complitex-common/src/test/glassfish">
    </property>
    <property name="javax.ejb.embeddable.modules">
        <collection itemsType="java.io.File">
            <item>complitex-common/target/classes</item>
            <item>complitex-common/target/test-classes</item>
        </collection>
    </property>
</config>