<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container-fluid">
    <div id="header">
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" wicket:id="home">
                    Complitex
                </a>
            </div>

            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <span wicket:id="mainUserOrganizationPicker" class="navbar-text"></span>
                    </li>
                    <li>
                        <span wicket:id="current_user_fullname" class="navbar-text"></span>
                    </li>
                    <li>
                        <a wicket:id="profile" wicket:message="title:profile">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                    <li>
                        <a wicket:id="exit" wicket:message="title:exit">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <aside id="menu" >
        <button wicket:id="infoPanelButton">
            <wicket:message key="main-sidebar.message"/>
        </button>

        <ul wicket:id="infoPanel">
            <li wicket:id="sidebar" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                    <span wicket:id="menu_title"></span>
                </a>

                <ul class="dropdown-menu">
                    <li wicket:id="menu_items">
                        <a href="#" wicket:id="link"><span wicket:id="label"></span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</div>


<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td id="TopPanel">

            <div wicket:id="toolbar">
                        <span wicket:id="commonPart">
                            <span wicket:id="commonButton"></span>
                        </span>
                        <span wicket:id="applicationPart">
                            <span wicket:id="applicationButton"></span>
                        </span>
                        <span wicket:id="pagePart">
                            <span wicket:id="pageButton"></span>
                        </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <div id="Content" class="ContentCollapsed">
                <wicket:child/>
            </div>
        </td>
    </tr>
</table>
</body>
</html>