<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div id="header">
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" wicket:id="home">
                    COMPLITEX
                </a>
            </div>

            <div class="navbar-right collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <span wicket:id="mainUserOrganizationPicker" class="navbar-text"></span>
                    </li>
                    <li>
                        <span wicket:id="current_user_fullname" class="navbar-text"></span>
                    </li>
                    <li>
                        <a wicket:id="profile" wicket:message="title:profile">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                    <li>
                        <a wicket:id="exit" wicket:message="title:exit">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <aside id="menu">
        <nav class="panel panel-default">
            <div class="panel-heading">
                <h2 wicket:id="infoPanelButton">
                    <wicket:message key="main_sidebar"/>
                </h2>
            </div>

            <!--  <div class="navbar-header">
                  <button wicket:id="infoPanelButton" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-menu">
                      <span class="sr-only"><wicket:message key="main-sidebar.message"/></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>-->

            <ul wicket:id="infoPanel" class="metismenu panel-body" id="sidebar-menu">
                <li wicket:id="sidebar">
                    <a wicket:id="menu_link">
                        <span wicket:id="menu_title"></span>
                        <span class="pull-right glyphicon glyphicon-menu-left"></span>
                    </a>

                    <ul wicket:id="list" class="collapse">
                        <li wicket:id="menu_items">
                            <a href="#" wicket:id="link"><span wicket:id="label"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <script>
                $(function() {
                    $("#sidebar-menu").metisMenu({
                        toggle: false
                    });
                });
            </script>
        </nav>
    </aside>
</div>

<div id="wrapper" class="container-fluid">
    <div id="toolbar">
        <div wicket:id="toolbar">
            <span wicket:id="commonPart">
                <span wicket:id="commonButton"></span>
            </span>
            <span wicket:id="applicationPart">
                <span wicket:id="applicationButton"></span>
            </span>
            <span wicket:id="pagePart">
                <span wicket:id="pageButton"></span>
            </span>
        </div>
    </div>
    <div id="content">
        <wicket:child/>
    </div>
</div>
</body>
</html>